@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Cairo:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
html{
  overflow: scroll;
  overflow-x: hidden;
  user-select: none;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}
body{
    margin :0px;
    /* background-image: url("assests/background.webp") ; */
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}
/* Add a black background color to the top navigation */
.navbar {
  /* background-color: #333; */
  overflow: hidden;
  background-color: #ffffffee;
  box-shadow: 0px 3px 12px 1px rgb(65 65 65 / 49%);

}


/* Style the links inside the navigation bar */
.navbar{
  height: 12vh;
}
.navbar a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  margin-right: 2%;
  padding-top: 2%;
  /* margin-top: 10px; */
  padding-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-family: 'Poppins', sans-serif;
}
.dn{
  background-color: #4ab750;
  border-radius: 15px;
}
/* Change the color of links on hover */
.navbar a:hover {

  color: rgb(255, 168, 55);

}
/* Add a color to the active/current link */
.navbar a.active {

  margin-left:42% ;
}
.img-log{
border-bottom: none;

}
.overviewtext{
  position: absolute;
  bottom: 8px;
  left: 16px;
  margin-right: 50%;
  margin-bottom: 5%;
  margin-left: 5%;
  text-align: left;
  font-size: larger;
  background: rgb(143,64,159);
  background: linear-gradient(90deg, rgba(143, 64, 159, 0.836) 0%, rgba(104, 158, 240, 0.836) 100%);
  padding: 20px 20px 20px 20px;
  border-radius: 15px;
}

.imgvision{

  width: 100vw;
  height: 88vh;
  margin-top: -4.9%;
}

.vision_text{
  font-family: 'Balsamiq Sans', cursive;
  font-family: 'Cairo', sans-serif;
  /* text-align: center;*/
  padding-right: 4%;
  padding-top:5%;
  padding-bottom:5%;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.mySlides {display: none;}  
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: none;
  transition: background-color 0.6s ease;
}
/* #main{
  height: 100vh;
} */
.slideshow-container{
  margin-top: 5%;
  position: relative; 
  color: white;
}
.sticky {
  position: fixed;
  top: 0;

}
#vision{
  height:100vh;

}
.img_vision{
  display: flex;
  /* margin-top: 9%; */
  width: 100vw  ;
  }
.mission{
  flex :1;
}
.values{
  flex :1;
}
.vision{
  flex :1;
}
.mission p{
  color: #f74263;
  margin-left: 9%;
  margin-right: 9%;
  text-align: center;
}
.vision p{
  color: #4ab750;
  margin-left: 9%;
  margin-right: 9%;
  text-align: center;
}
.values p{
  color: #f0740f;
}
.statistics{
  display: flex;
  width: 100vw;
  margin-top: 7%;
  margin-bottom: 7%;

}
#journey{
  background-image: url("./assests/our-journeybackground.jpg");
  background-size: cover;
  height: 100vh;
}
.jcontainer{
  display: flex;
}
.jimage img{
  margin : 50% 10% 40% 15%;
  height: 350px;
  /* border-radius: 15px; */
  /* border: 2px;
  border-style: solid; */
}
.jtext{
  margin: 6% 12% 6% 6%;
  background: linear-gradient(90deg, rgba(238, 174, 202, 0.699) 0%, rgba(148, 188, 233, 0.658) 100%);
  padding : 4% 4% 4% 4%;
  border-radius: 15px;
}
.s1{
  flex :1;

}
.s2{
  flex :1;
}
.s3{
  flex :1;
}
#DonateNow{
  background-image: url("./assests/donateimg.jpg");
  background-size: cover;
  height: 100vh;
}
.donatenow {
  border-radius: 15px;
  position:absolute;
  margin: 10% 22% 10% 22%;
  word-spacing: 4px;
  background: rgb(138,237,246);
  background: linear-gradient(90deg, rgba(138,237,246,1) 0%, rgba(96,130,245,0.5214460784313726) 100%);
  padding: 40px 20px 40px 20px;
}


.donatenow a:hover{
  background-color: #00a0fd; 
  transition-duration: 0.5s;
}
#Donate{
  display: flex;
  width: 100vw;
  background-image: url("./assests/form.jpg");
  background-size: cover;
  /* background-color: rgba(187, 187, 187, 0.281); */

}
#team{
  background: url("./assests/ourteam.jpg");
  /* height: 100vh; */
  background-size: cover;
}
.teamheading{
  font-family: 'Balsamiq Sans', cursive;
  font-family: 'Cairo', sans-serif;
  font-size: 200%;
  font-weight: bold;
  padding-top: 2%;
}
.tt{
  display: flex;
}
.teammember{
  display: flex;
  padding : 5% 5% 1% 5%;
}
.teammember img{
  height: 300px;
  padding-right: 5%;
  
}
.teammember p{
  margin-right: 5%;
}
.qrcode{
  flex:1;
}
.qrcode img{
  margin-top: 38%;
}
.qrcode p{
  margin : 9% 6% 4% 6%;
  padding : 20px 20px 20px 20px;
  border-radius:15px ;
  /* border-style: solid; */
  /* border-color: #00005c; */
  color: #ffffff;
  /* background: linear-gradient(90deg, rgba(138,237,246,1) 0%, rgba(96, 131, 245, 0.705) 100%); */
  background-color: #15172b;
  font-size: large;
}
.form{
  flex:1;
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  /* height: 500px; */
  padding: 20px;
  /* width: 320px; */
  width: 30vw;
  margin : 4% 4% 4% 4%; 
}
.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}
.recp{
    
    color: aliceblue;
}
label input {
  position: absolute;
  left: -9999px;
}
/* label input:checked + span {
  background-color: #d6d6e5;
} */
label input:checked + span:before {
  box-shadow: inset 0 0 0 0.4375em #00005c;
}
label span {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
  color: #eee;
}
/* label span:hover {
  background-color: #d6d6e5;
} */
label span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #00005c;
}
.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 98px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}
#contactus{
  background-color: #1f1f1f;
  height: 55vh;
  display: flex;
}
.rid {
  color: #afaeae;
  margin-left: 4%;
  padding-top:4%;
  flex: 1;
  font-size: 13px;
}
.contact{
  padding-right: 4%;
  padding-top: 2%;
}
.details{
  color: #afaeae;
  font-size: medium;
}
.num{
  color: #ffffff;
  font-size: small;
}
.last{
  padding-top: 5%;
  padding-left: 57%;
  font-size:15px;
  color: #ffffff;
}
@media screen and (max-width: 600px) {
  .navbar a{
    color: #ffffff;
  }
  #navbar{
    height: 8vh;
  }
  .imgvision{
    height: 45%;
  }
  #vision{
    display:block;
    height: 100%;
  }
  .vision p{
    font-size: 20px;
    text-align:justify;
    flex: none;
  }
  .mission p{
    font-size: 20px;
    text-align:justify;
  }
  .values p{
    font-size: 20px;
    /* text-align:justify; */
  }
  #DonateNow{
    height: 140vh;
  }
  .donatenow{
    margin :10% 13% 10% 13%;

  }
  .img_vision{
    display: block;
  }
  .statistics{
    display: block;
  }
  #Donate{
    display: block;
  }
  .form2{
    margin-left:8%
  }
  #contactus{
    height: 70vh;
    display: block;
  }
  .last{
    visibility: hidden;
  }
  /* .contact{
    padding-left: 12px;
  } */
  .form{
    
    margin: 4% 4% 0% 4%;
  }
  .rid {
    height: 30vh;
  }
  /* .contact{
    height: 0vh;
  }
  .details{
    visibility: hidden;
    height: 0vh;

  }
  .num{
    visibility: hidden;
    height: 0px;
  } */

}