@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Cairo:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
html{
  overflow: scroll;
  overflow-x: hidden;
  user-select: none;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}
body{
    margin :0px;
    /* background-image: url("assests/background.webp") ; */
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}
/* Add a black background color to the top navigation */
.navbar {
  /* background-color: #333; */
  overflow: hidden;
  background-color: #ffffffee;
  box-shadow: 0px 3px 12px 1px rgb(65 65 65 / 49%);

}


/* Style the links inside the navigation bar */
.navbar{
  height: 9vh;
}
#pp {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  margin-right: 2%;
  padding-top: 1.2%;
  /* margin-top: 10px; */
  padding-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-family: 'Poppins', sans-serif;
}
#gg{
  position: absolute ;
  top: 13px;
  text-decoration: none;
  background-color: #00005c;
  padding: 5px 15px 5px 15px;
  color: #ffffff;
  box-shadow: #eeff00 5px 5px;
} 
#tt{
  text-decoration: none;
  background-color:#eeff00 ;
  padding: 5px 20px 5px 20px;
  color: #000000;
  box-shadow: #00005c 5px 5px;
  font-size: larger;
}
.dn{  
  background-color: #4ab750;
  border-radius: 15px;
}

.navbar a :hover {
  color: #eeff00;
}
.navbar a.active {

  margin-left:56vw ;
}
.img-log{
  border-bottom: none;
  position: absolute;
  left :20px;
  top: 12px;

}
.overviewtext{
  position: absolute;
  bottom: 8px;
  left: 16px;
  margin-right: 55%;
  margin-bottom: 5%;
  margin-left: 3%;
  text-align: left;
  font-size: larger;
  background-color: #00005c;
    padding: 20px 20px 20px 20px;
  border-radius: 6px;
}
.heavy{
  font-size: 200%;
  color: #eeff00;
  font-weight: bold;
}

.imgvision{

  width: 100vw;
  height: 91vh;
  margin-top: -4.9%;
}

.vision_text{
  font-family: 'Balsamiq Sans', cursive;
  font-family: 'Cairo', sans-serif;
  /* text-align: center;*/
  padding-right: 4%;
  padding-top:5%;
  padding-bottom:5%;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.mySlides {display: none;}  
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: none;
  transition: background-color 0.6s ease;
}
/* #main{
  height: 100vh;
} */
.slideshow-container{
  margin-top: 5%;
  position: relative; 
  color: white;
}
.sticky {
  position: fixed;
  top: 0;

}
#vision{
  height:100vh;

}
.img_vision{
  display: flex;
  /* margin-top: 9%; */
  width: 100vw  ;
  }
.mission{
  flex :1;
}
.values{
  flex :1;
}
.vision{
  flex :1;
}
.mission p{
  color: #f74263;
  margin-left: 9%;
  margin-right: 9%;
  text-align: center;
}
.vision p{
  color: #4ab750;
  margin-left: 9%;
  margin-right: 9%;
  text-align: center;
}
.values p{
  color: #f0740f;
}
.statistics{
  display: flex;
  width: 100vw;
  margin-top: 7%;
  margin-bottom: 7%;

}
#journey{
  background-image: url("./assests/our-journeybackground.jpg");
  background-size: cover;
  height: 100vh;
}
.jcontainer{
  display: flex;
}
.jheading{
  font-size: 170%;
  font-weight: bold;
  color: #eeff00;
  
}
.jimage img{
  margin : 50% 10% 40% 15%;
  height: 350px;
  /* border-radius: 15px; */
  /* border: 2px;
  border-style: solid; */
}
.jtext{
  margin: 6% 12% 6% 6%;
  background: #0303a4d3;
  padding : 4% 4% 4% 4%;
  border-radius: 15px;
  color: #ffffff;
}
.s1{
  flex :1;

}
.s2{
  flex :1;
}
.s3{
  flex :1;
}
#DonateNow{
  background-image: url("./assests/donateimg.jpg");
  background-size: cover;
  height: 100vh;
}
.donatenow {
  border-radius: 15px;
  position:absolute;
  margin: 10% 22% 10% 22%;
  word-spacing: 4px;
  background: #0303a4bc;
  color:#ffffff;
  padding: 40px 20px 40px 20px;
}


.donatenow a:hover{
  background-color: #00a0fd; 
  transition-duration: 0.5s;
}
#Donate{
  display: flex;
  width: 100vw;
  background-image: url("./assests/form.jpg");
  background-size: cover;
  /* background-color: rgba(187, 187, 187, 0.281); */

}
#team{
  background-color: #232375;

  height: 110vh;
  background-size: cover;
}
.teamheading{
  font-family: 'Balsamiq Sans', cursive;
  font-family: 'Cairo', sans-serif;
  font-size: 250%;
  font-weight: bold;
  padding-top: 1%;
  color: #eeff00;
}
.tt{
  display: flex;
}
.mySlides1{
  width: 60vw;
  display: none;
}
/* --------------------------------------------------- */
.CSSgal {
  position: relative;
  overflow: hidden;
  height: 80%; /* Or set a fixed height */
}

/* SLIDER */

.CSSgal .slider {
  height: 100%;
  white-space: nowrap;
  font-size: 0;
  transition: 0.8s;
}

/* SLIDES */

.slider > * {
  font-size: 1rem;
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  height:100%;
  width: 100%;
  background: none 50% no-repeat;
  background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.CSSgal .prevNext {
  position: absolute;
  z-index: 1;
  top: 50%;
  width: 100%;
  height: 0;
}

.CSSgal .prevNext > div+div {
  visibility: hidden; /* Hide all but first P/N container */
}

.CSSgal .prevNext a {
  background: #fff;
  position: absolute;
  width:       60px;
  height:      60px;
  line-height: 60px; /* If you want to place numbers */
  text-align: center;
  opacity: 0.7;
  -webkit-transition: 0.3s;
          transition: 0.3s;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}
.CSSgal .prevNext a:hover {
  opacity: 1;
}
.CSSgal .prevNext a+a {
  left: auto;
  right: 0;
}

/* NAVIGATION */

.CSSgal .bullets {
  position: absolute;
  z-index: 2;
  bottom: 0;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}
.CSSgal .bullets > a {
  display: inline-block;
  width:       30px;
  height:      30px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  background: rgba(255, 255, 255, 1);
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.CSSgal .bullets > a+a {
  background: rgba(255, 255, 255, 0.5); /* Dim all but first */
}
.CSSgal .bullets > a:hover {
  background: rgba(255, 255, 255, 0.7) !important;
}

/* NAVIGATION BUTTONS */
/* ALL: */
.CSSgal >s:target ~ .bullets >* {      background: rgba(255, 255, 255, 0.5);}
/* ACTIVE */
#s1:target ~ .bullets >*:nth-child(1) {background: rgba(255, 255, 255,   1);}
#s2:target ~ .bullets >*:nth-child(2) {background: rgba(255, 255, 255,   1);}
#s3:target ~ .bullets >*:nth-child(3) {background: rgba(255, 255, 255,   1);}
#s4:target ~ .bullets >*:nth-child(4) {background: rgba(255, 255, 255,   1);}
/* More slides? Add here more rules */

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.CSSgal >s:target ~ .prevNext >* {      visibility: hidden;}
/* ACTIVE: */
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}
/* More slides? Add here more rules */

/* SLIDER ANIMATION POSITIONS */

#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}
/* More slides? Add here more rules */

.CSSgal{
  color: #fff;  
  text-align: center;
}
.CSSgal .slider h2 {
  margin-top: 30vh;
  font-weight: 200;
  letter-spacing: -0.06em;
  word-spacing: 0.2em;
  font-size: 3em;
}
.CSSgal a {
  border-radius: 50%;
  margin: 0 3px;
  color: rgba(0,0,0,0.8);
  text-decoration: none;
}
.team1{
  width: 65%;
  margin-top: 1%;
}
.b1{
  padding: 10px 20px 10px 20px;
  background-color:#ffffff; 
  text-decoration: none;
  border: none;
  /* border: solid; */
  border-radius: 16px;
  /* color: #000000; */
  margin-left: 3%;
}
.qrcode{
  flex:1;
}
.qrcode img{
  margin-top: 38%;
}
.qrcode p{
  margin : 9% 6% 4% 6%;
  padding : 20px 20px 20px 20px;
  border-radius:15px ;
  /* border-style: solid; */
  /* border-color: #00005c; */
  color: #ffffff;
  /* background: linear-gradient(90deg, rgba(138,237,246,1) 0%, rgba(96, 131, 245, 0.705) 100%); */
  background-color: #15172b;
  font-size: large;
}
.form{
  flex:1;
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  /* height: 500px; */
  padding: 20px;
  /* width: 320px; */
  width: 30vw;
  margin : 4% 4% 4% 4%; 
}
.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}
.recp{
    
    color: aliceblue;
}
label input {
  position: absolute;
  left: -9999px;
}
/* label input:checked + span {
  background-color: #d6d6e5;
} */
label input:checked + span:before {
  box-shadow: inset 0 0 0 0.4375em #00005c;
}
label span {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
  color: #eee;
}
/* label span:hover {
  background-color: #d6d6e5;
} */

label span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #00005c;
}
.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 98px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}
#contactus{
  background-color: #1f1f1f;
  height: 50vh;
  display: flex;
}
.rid {
  color: #afaeae;
  margin-left: 4%;
  padding-top:4%;
  flex: 1;
  font-size: 13px;
}
.contact{
  padding-right: 4%;
  padding-top: 2%;
}
.details{
  color: #afaeae;
  font-size: medium;
}
.num{
  color: #ffffff;
  font-size: small;
}
.last{
  padding-top: 5%;
  padding-left: 57%;
  font-size:15px;
  color: #ffffff;
}
@media screen and (max-width: 600px) {
  .navbar a{
    color: #ffffff;
  }
  #navbar{
    height: 8vh;
  }
  .imgvision{
    height: 45%;
  }
  #vision{
    display:block;
    height: 100%;
  }
  .vision p{
    font-size: 20px;
    text-align:justify;
    flex: none;
  }
  .mission p{
    font-size: 20px;
    text-align:justify;
  }
  .values p{
    font-size: 20px;
    /* text-align:justify; */
  }
  #DonateNow{
    height: 140vh;
  }
  .donatenow{
    margin :10% 13% 10% 13%;

  }
  .img_vision{
    display: block;
  }
  .statistics{
    display: block;
  }
  #Donate{
    display: block;
  }
  .form2{
    margin-left:8%
  }
  #contactus{
    height: 70vh;
    display: block;
  }
  .last{
    visibility: hidden;
  }
  /* .contact{
    padding-left: 12px;
  } */
  .form{
    
    margin: 4% 4% 0% 4%;
  }
  .rid {
    height: 30vh;
  }
  /* .contact{
    height: 0vh;
  }
  .details{
    visibility: hidden;
    height: 0vh;

  }
  .num{
    visibility: hidden;
    height: 0px;
  } */

}