@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Cairo:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
html{
  overflow: scroll;
  overflow-x: hidden;
  user-select: none;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}
body{
    margin :0px;
    /* background-image: url("assests/background.webp") ; */
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}
/* Add a black background color to the top navigation */
.navbar {
  /* background-color: #333; */
  overflow: hidden;
  background-color: #ffffffee;
  box-shadow: 0px 3px 12px 1px rgb(65 65 65 / 49%);

}


/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  margin-right: 2%;
  /* margin-top: 10px; */
  padding-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}

/* Change the color of links on hover */
.navbar a:hover {

  color: rgb(255, 0, 0);
  border-bottom: #000000;
  padding-bottom: 7px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  transition: border-bottom 0.1s ease;

}

/* Add a color to the active/current link */
.navbar a.active {

  margin-left:42% ;
}
.img-log{
border-bottom: none;
  }
.img-log :hover{
  border-bottom: none !important;
}


.imgvision{

  width: 100vw;
  height: 88vh;
  margin-top: -4.9%;

}
.vision_text{
  font-family: 'Balsamiq Sans', cursive;
  font-family: 'Cairo', sans-serif;
  /* text-align: center;*/
  padding-right: 4%;
  padding-top:5%;
  padding-bottom:5%;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.mySlides {display: none;}  
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: none;
  transition: background-color 0.6s ease;
}
/* #main{
  height: 100vh;
} */
.slideshow-container{
  margin-top: 5%;
}
.sticky {
  position: fixed;
  top: 0;

}
#vision{
  height:100vh;

}
.img_vision{
  display: flex;
  /* margin-top: 9%; */
  width: 100vw  ;
  }
.mission{
  flex :1;
}
.values{
  flex :1;
}
.vision{
  flex :1;
}
.mission p{
  color: #f74263;
  margin-left: 9%;
  margin-right: 9%;
  text-align: center;
}
.vision p{
  color: #4ab750;
  margin-left: 9%;
  margin-right: 9%;
  text-align: center;
}
.values p{
  color: #f0740f;
}
.statistics{
  display: flex;
  width: 100vw;
  margin-top: 7%;
  margin-bottom: 7%;
}
.s1{
  flex :1;

}
.s2{
  flex :1;
}
.s3{
  flex :1;
}
#DonateNow{
  background-image: url("./assests/donateimg.jpg");
  background-size: cover;
  height: 100vh;
}
.donatenow {
  border-radius: 15px;
  position:absolute;
  margin: 10% 33% 10% 33%;
  word-spacing: 4px;
  background: rgb(138,237,246);
  background: linear-gradient(90deg, rgba(138,237,246,1) 0%, rgba(96,130,245,0.5214460784313726) 100%);
  padding: 40px 20px 40px 20px;
}

.donatenow a{
  display: inline-block;
  text-decoration: none;
  color: rgb(36, 36, 36);
  padding: 5px 30px 5px 30px;
  border: solid;
  border-radius: 16px;
  background-color: #6ad0ff;
}
.donatenow a:hover{
  background-color: #00a0fd; 
  transition-duration: 0.5s;
}
#Donate{
  display: flex;
  width: 100vw;
  background-image: url("./assests/form.jpg");
  background-size: cover;
  /* background-color: rgba(187, 187, 187, 0.281); */

}
.qrcode{
  flex:1;
}
.qrcode img{
  margin-top: 38%;
}
.fform{
  font-size: x-large;
  color: #0088f7;
}
.form{
  flex:1;
  background-color: rgba(255, 255, 255, 0.747);
  margin : 4% 4% 4% 4% ;
  padding : 30px 30px 30px 30px;
  border-radius: 15px;
}
.form2{
  margin-left: 4.9%;
}
.form2 label{
  font-size: larger; 
  margin-right: 20px;
}
.form2 p{
  font-size: larger;
}
 .form input{
  padding : 6px 6px 6px 6px;
  border-radius: 10px; 
 }
.form2 button {
  padding:6px 12px 6px 12px; 
  color:#000000;
  background-color: #ffffff;
  border-radius: 8px;
  font-size: 20px;
}
.form2 button:hover{
  background-color: #afaeae;
}

#contactus{
  background-color: #1f1f1f;
  height: 55vh;
  display: flex;
}
.rid {
  color: #afaeae;
  margin-left: 4%;
  padding-top:4%;
  flex: 1;
  font-size: 13px;
}
.contact{
  padding-right: 4%;
  padding-top: 2%;
}
.details{
  color: #afaeae;
  font-size: medium;
}
.num{
  color: #ffffff;
  font-size: small;
}
.last{
  padding-top: 5%;
  padding-left: 57%;
}